/*
 Encounter+ iOS
 version 1.0
 ----------------
 global styles & theme
 */
 
/******** Fonts ********/

@font-face {
  font-family: 'Andada SC';
  src: url('../font/AndadaSC-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Andada SC';
  src: url('../font/AndadaSC-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Andada SC';
  src: url('../font/AndadaSC-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Andada SC';
  src: url('../font/AndadaSC-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Solbera Imitation';
  src: url('../font/Solbera-Imitation.otf') format('opentype');
  font-style: normal;
}

/******** Body / HTML ********/

html {
  -webkit-print-color-adjust: exact;
}

/******** Headings ********/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-weight: normal;
  display: block;
  padding: 0px;
  margin: 5px 0px;
}

h1 {
  font-size: 30px;
  line-height: 34px;
  padding-bottom: 5px;
}

h2 {
  font-size: 23px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  border-bottom: 1px solid #58180d;
  line-height: 28px;
  overflow: hidden;
}

h4 {
  font-size: 18px;
  line-height: 23px;
}

h1 + p:not(.no-fancy)::first-letter {
  font-family: 'Solbera Imitation' !important;
  font-size: 93px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-top: -3px;
  padding-right: 8px;
  float: left;
}

/******** Horizontal Rule ********/

hr {
  border-color: #58180d;
	height: 1px;
	border-bottom: 1px solid;
}

/******** Standard Block Quote ********/

.blockquote-wrap {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  overflow: hidden;
}

blockquote {
  font-family: '-apple-system', sans-serif !important;
  font-size: 13px;
  display: block;
  background-color: #e0e4c3;
  padding: 10px 15px;
  margin: 20px 0px;
  position: relative;
  page-break-inside: avoid;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

blockquote p:first-child {
  margin-top: 0px;
}

blockquote p:last-child {
  margin-bottom: 0px;
}

blockquote:before,
blockquote:after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

blockquote:before {
  width: 14px;
  background-image: linear-gradient(
      to bottom right,
      #fff0 0%,
      #fff0 50%,
      #000 50%,
      #000 100%
    ),
    linear-gradient(to top right, #fff0 0%, #fff0 50%, #000 50%, #000 100%);
  background-size: 14px 7px;
  background-position: top center, bottom center;
  top: -8px;
  bottom: -8px;
  left: 0px;
}

blockquote:after {
  width: 14px;
  background-image: linear-gradient(
      to bottom left,
      #fff0 0%,
      #fff0 50%,
      #000 50%,
      #000 100%
    ),
    linear-gradient(to top left, #fff0 0%, #fff0 50%, #000 50%, #000 100%);
  background-size: 14px 7px;
  background-position: top center, bottom center;
  top: -8px;
  bottom: -8px;
  right: 0px;
}

/******** Read-Aloud Block Quote ********/

.blockquote-read-wrap {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0px;
  overflow: hidden;
}

blockquote.read {
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #58180d;
  border-right: 2px solid #58180d;
  background-color: #edebe8;
  box-shadow: none;
}

blockquote.read:before,
blockquote.read:after {
  width: 4px;  
  background-size: 4px 4px;
  background-position: top center, bottom center;
  top: -3px;
  bottom: -3px;
  background-image: radial-gradient(
      circle at center,
      #58180d 2px,
      transparent 0px
    ),
    radial-gradient(circle at center, #58180d 2px, transparent 0px);
}

blockquote.read:before {  
  left: -3px;
}

blockquote.read:after {
  right: -3px;
}

/******** Paper Block Quote ********/

.blockquote-paper-wrap {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1px;
  padding-right: 1px;
  margin: 10px;
  overflow: hidden;
}

blockquote.paper {
  border-left: 1px solid #D7D2D0;
  border-right: 1px solid #D7D2D0;
  border-top: 0;
  border-bottom: 0;
  background-color: #FBF4DF;
  padding: 20px;
  box-shadow: none;
}

blockquote.paper:before,
blockquote.paper:after {
  content: '';
  background-image: url('../img/note.png');
  background-size: 100% 100%;
  height: 15px;
  position: absolute;
  left: -1px;
  right: -1px;
  width: auto;
}

blockquote.paper:before {  
  transform: rotateY(180deg); 
  top: -15px;
  bottom: unset;
}

blockquote.paper:after {
  transform: rotateX(180deg);
  bottom: -15px;
  top: unset;
}

/******** Flowchart Block Quote ********/

blockquote.flowchart,
blockquote.flowchart-with-link {
  box-shadow: none;
  border-width: 16px 16px 16px 16px;
  border-style: solid;
  border-color: transparent;
  border-image-repeat: repeat;
  border-image-slice: 16 16 16 16 fill;
  background-color: transparent;
  padding: 10px;
  position: relative;
  border-image-source: url('../img/flowchart.png');
  margin: 50px 25px;
}

blockquote.flowchart-with-link:before {
  content: '';
  border-left: 3px solid #58180D;
  height: 100px;
  left: 50%;
  position: absolute;
  margin-top: -80px;
  z-index: -1;
}

blockquote.flowchart:before,
blockquote.flowchart:after,
blockquote.flowchart-with-link:before,
blockquote.flowchart-with-link:after {
  background-image: none;
}

/******** Marks ********/

mark {
  background: #e4c3c3;
}

/******** List Styles ********/

ul.square {
  list-style-type: square;
}

/******** Code Blocks ********/

code,
pre {
  display: block;
  background: #f5f5f5;
  padding: 10px 15px;
  margin: 10px 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/******** Links ********/

a {
  color: #58180d;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a[href*='/monster/'],
a[href*='/player/'],
a[href*='/item/'],
a[href*='/spell/'] {
  font-weight: bold;
}

/******** Text Alignment ********/

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/******** Images ********/

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

figure.size-full,
img.size-full {
  width: 100%;
  height: auto;
}

figure.float-left,
img.float-left {
  float: left;
  margin-right: 10px;
}

figure.float-right,
img.float-right {
  float: right;
  margin-left: 10px;
}

/******** Tables ********/

.table-responsive,
.table-overflow-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

table {
  width: 100%;
  font-family: '-apple-system', sans-serif;
  border-collapse: collapse;
  margin-bottom: 30px;
  page-break-inside: avoid;
  overflow-wrap: break-word;
}

table thead {
  font-weight: bold;
}

table.headerTitle thead {
  font-weight: bold;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
}

td,
th {
  padding: 10px;
}

th p,
td p {
  margin: 0;
  padding: 0;
}

tbody tr:nth-child(odd) {
  background: #e0e4c3;
}

/******** Shop Tables ********/
table.shop tbody {
  font-size: 11px;
}

table.shop tbody tr:nth-child(odd) {
  background: #edebe840;
}

table.shop > thead > tr > td,
table.shop > tbody > tr > td {
  border-color: #58180d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

table.shop > tbody > tr {
  background: none;
}

table.shop > tbody > tr.shopH1 {
  font-weight: bold;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-size: 14px;
  font-weight: bold;
}

table.shop > tbody > tr.shopH2 {
  font-weight: bold;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-size: 12px;
  font-weight: bold;
}

/******** Sidebar Tables ********/

table.sidebar {
  line-height: 13px;
}

table.sidebar tbody tr:nth-child(odd) {
  background: #d8d6d2;
}

table.sidebar tr td img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: auto;
}

table.sidebar thead {
  font-weight: bold;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-size: 18px;
  border-top: none;
}

table.sidebar tbody tr {
  border-bottom: none;
  border-top: none;
  border-collapse: separate;
}

table.sidebar td:first-child {
  font-weight: bold;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-size: 9px;
  padding: 4px 8px;
}

table.sidebar {
  background: #edebe8;
  font-size: 11px;
  page-break-inside: avoid;
}

/******** Table Colors ********/

table.green tbody tr:nth-child(odd) {
  background: #e0e4c3;
}

table.red tbody tr:nth-child(odd) {
  background: #e4c3c3;
}

table.blue tbody tr:nth-child(odd) {
  background: #c3d3e4;
}

table.yellow tbody tr:nth-child(odd) {
  background: #e4e1c3;
}

table.gray tbody tr:nth-child(odd) {
  background: #d4d4d4;
}

table.neutral {
  background: #edebe8;
}

table.neutral tbody tr:nth-child(odd) {
  background: #d8d6d2;
}

/******** Statblock Div Styles ********/

.statblock {
  text-align: left;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  background: #FDF1DC;
  padding: 5px 10px 20px;
  page-break-inside: avoid;
}

.statblock.two-column {
  width: 90%;
  display: block;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
}

.statblock.two-column .statblock-section-left,
.statblock.two-column .statblock-section-right {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  text-align: left;
}

.statblock.two-column .statblock-section-left {
  margin-right: 1.5%;
}
.statblock.two-column .statblock-section-right {
  margin-left: 1.5%;
}

.statblock.float-left {
  float: left;
}

.statblock.float-right {
  float: right;
}

.statblock-title {
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #922610;
  font-size: 23px;
  line-height: 1.2em;
  margin: 10px 0 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
}

.statblock-subtitle,
.statblock-trait-name,
.statblock-topstat-name,
.statblock-property-name,
.statblock-property-name,
.statblock-section-title,
.statblock-property-value {
  font-family: '-apple-system', sans-serif;
  color: #7A200D;
}

.statblock-trait-name,
.statblock-topstat-name,
.statblock-ability-abbrev,
.statblock-property-name {
  font-weight: bold;
}

.statblock-trait-description,
.statblock-action-description,
.statblock-property-value,
.statblock-property-name,
.statblock-trait-name,
.statblock-topstat-name,
.statblock-topstat-value {
  display: inline;
}

.statblock-border {
  display: block;
  background: #dea858;
  border: 1px solid #000;
  height: 5px;
  padding: 0 10px 0;
  margin: -10px -10px 0;
  box-sizing: initial;
}

.statblock-border.bottom {
  margin: 15px -10px -20px;
}

.statblock-tapered-rule {
  display: block;
  width: 100%;
  height: 5px;
  border: none;
  color: #922610;
  fill: #922610;
  stroke: #922610;
}

.statblock-subtitle {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 1.2em;
  margin: 0 0 10px;
}

.statblock-topstat-name,
.statblock-topstat-value {
  margin: 0;
  font-size: 13px;
  line-height: 1.2em;
}

.statblock-topstat-value {
  color: #922610;
}

.statblock-property-line {
  text-indent: -1em;
  padding-left: 1.1em;
  line-height: 1.4em;
}

.statblock-property-line.first {
  margin: 8px 0 0
}

.statblock-property-line.last {
  margin: 0 0 10px;
}

.statblock-abilities {
  text-align: center;
  color: #922610;
}

.statblock-abilities > div {
  display: inline-block;
  vertical-align: middle;
  width: 15.5%;
  min-width: 40px; 
  font-size: 12px;
  line-height: 1em;
}

.statblock-ability-abbrev {
  margin: 10px 0 2px;
  font-size: 13px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #922610;
}

.statblock-ability-value {
  margin: 0 0 10px;
  line-height: 1.2em;
  font-weight: lighter;
}

.statblock-action-name,
.statblock-trait-name {
  color: black;
  font-size: 13.5px;
  line-height: 1.2em;
  display: inline;
  margin: 0;
}

.statblock-action-name,
.statblock-trait-name {
  font-style: italic;
  font-weight: bold;
}

.statblock-property-block {
  padding: 10px 2px 0;
}

.statblock-actions,
.statblock-reactions,
.statblock-legendary-actions {
  margin: 0 0 20px;
}

.statblock-section-title {
  border-bottom: 1px solid #922610;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 20px 0 0;
  padding: 0 0 10px;
  text-indent: 5px;
}

.statblock-actions:last-child,
.statblock-reactions:last-child,
.statblock-legendary-actions:last-child {
  margin: 0;
}

/* Blue Stat Blocks */
.blue .statblock-title,
.blue .statblock-tapered-rule,
.blue .statblock-topstat-value,
.blue .statblock-abilities,
.blue .statblock-ability-abbrev,
.blue .statblock-section-title {
  color: #105a92;
}

.blue .statblock-tapered-rule {
  fill: #105a92;
  stroke: #105a92;
}

.blue .statblock-section-title {
  border-bottom-color: #105a92;
}

.blue .statblock-subtitle,
.blue .statblock-trait-name,
.blue .statblock-topstat-name,
.blue .statblock-property-name,
.blue .statblock-property-name,
.blue .statblock-section-title,
.blue .statblock-property-value {
  color: #0d3e7a;
}

.blue .statblock-border {
  background: #7C9EBA;
}

.blue.statblock {
  background: #E5EDF4;
}

/* Green Stat Blocks */
.green .statblock-title,
.green .statblock-tapered-rule,
.green .statblock-topstat-value,
.green .statblock-abilities,
.green .statblock-ability-abbrev,
.green .statblock-section-title {
  color: #099D43;
}

.green .statblock-tapered-rule {
  fill: #099D43;
  stroke: #099D43;
}

.green .statblock-section-title {
  border-bottom-color: #099D43;
}

.green .statblock-subtitle,
.green .statblock-trait-name,
.green .statblock-topstat-name,
.green .statblock-property-name,
.green .statblock-property-name,
.green .statblock-section-title,
.green .statblock-property-value {
  color: #068347;
}

.green .statblock-border {
  background: #78BF94;
}

.green.statblock {
  background: #E4F5EB;
}

/* Red Stat Blocks */
.red .statblock-title,
.red .statblock-tapered-rule,
.red .statblock-topstat-value,
.red .statblock-abilities,
.red .statblock-ability-abbrev,
.red .statblock-section-title {
  color: #9D0E09;
}

.red .statblock-tapered-rule {
  fill: #9D0E09;
  stroke: #9D0E09;
}

.red .statblock-section-title {
  border-bottom-color: #9D0E09;
}

.red .statblock-subtitle,
.red .statblock-trait-name,
.red .statblock-topstat-name,
.red .statblock-property-name,
.red .statblock-property-name,
.red .statblock-section-title,
.red .statblock-property-value {
  color: #831A06;
}

.red .statblock-border {
  background: #BF7A78;
}

.red.statblock {
  background: #F5E4E4;
}

/* Yellow Stat Blocks */
.yellow .statblock-title,
.yellow .statblock-tapered-rule,
.yellow .statblock-topstat-value,
.yellow .statblock-abilities,
.yellow .statblock-ability-abbrev,
.yellow .statblock-section-title {
  color: #D77E20;
}

.yellow .statblock-tapered-rule {
  fill: #D77E20;
  stroke: #D77E20;
}

.yellow .statblock-section-title {
  border-bottom-color: #D77E20;
}

.yellow .statblock-subtitle,
.yellow .statblock-trait-name,
.yellow .statblock-topstat-name,
.yellow .statblock-property-name,
.yellow .statblock-property-name,
.yellow .statblock-section-title,
.yellow .statblock-property-value {
  color: #DD712F;
}

.yellow .statblock-border {
  background: #CDB4A5;
}

.yellow.statblock {
  background: #F7F1ED;
}

/* Gray Stat Blocks */
.gray .statblock-title,
.gray .statblock-tapered-rule,
.gray .statblock-topstat-value,
.gray .statblock-abilities,
.gray .statblock-ability-abbrev,
.gray .statblock-section-title {
  color: #535353;
}

.gray .statblock-tapered-rule {
  fill: #535353;
  stroke: #535353;
}

.gray .statblock-section-title {
  border-bottom-color: #535353;
}

.gray .statblock-subtitle,
.gray .statblock-trait-name,
.gray .statblock-topstat-name,
.gray .statblock-property-name,
.gray .statblock-property-name,
.gray .statblock-section-title,
.gray .statblock-property-value {
  color: #454545;
}

.gray .statblock-border {
  background: #9C9C9C;
}

.gray.statblock {
  background: #EDEDED;
}

/* Neutral Stat Blocks */
.neutral .statblock-title,
.neutral .statblock-tapered-rule,
.neutral .statblock-topstat-value,
.neutral .statblock-abilities,
.neutral .statblock-ability-abbrev,
.neutral .statblock-section-title {
  color: #51423d;
}

.neutral .statblock-tapered-rule {
  fill: #51423d;
  stroke: #51423d;
}

.neutral .statblock-section-title {
  border-bottom-color: #51423d;
}

.neutral .statblock-subtitle,
.neutral .statblock-trait-name,
.neutral .statblock-topstat-name,
.neutral .statblock-property-name,
.neutral .statblock-property-name,
.neutral .statblock-section-title,
.neutral .statblock-property-value {
  color: #452727;
}

.neutral .statblock-border {
  background: #bda099;
}

.neutral.statblock {
  background: #edebe8;
}

/******** Screen-Specific Styles ********/

@media screen {
  .print-only {
    display: none;
  }

  html {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
  }

  body {
    font-family: '-apple-system', sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
    color: black;
    background: url('../img/bg.png') #FEFEFC repeat;
  }

  .statblock {
    box-shadow: 0 0 0.5em #616161;
    margin: 20px;
  }

  figure.size-cover,
  img.size-cover {
    max-width: none;
    width: calc(100% + 40px);
    margin-top: calc(-30px);
    margin-left: calc(-20px);
    margin-right: calc(-20px);
    margin-bottom: calc(+20px);
    height: auto;
  }

  #page {
    padding: 15px 20px;
    overflow: hidden;
  }

  table.sidebar {
    float: right;
    margin-left: 10px;
    max-width: 400px;
    width: 45%;
  }

  blockquote {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  }
}

/******** Print-Specific Styles ********/

@media print {

  p.size-cover,
  p.size-full,
  div.size-full {
    column-span: all;
  }

  figure.size-cover,
  img.size-cover {
    max-width: none;
    width: calc(100% + 0.5in);
    margin-top: -.5in;
    margin-left: -.25in;
    margin-right: -.25in;
    margin-bottom: 0;
    height: auto;
  }

  img.bottom-right {
    position: absolute;
    bottom: 0; 
    right: 0; 
  }

  img.bottom-left {
    position: absolute;
    bottom: 0; 
    right: 0; 
  }

  .screen-only {
    display: none;
  }

  body {
    counter-reset: page-numbers;
    font-family: '-apple-system', sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
    color: black;
  }

  /* Enable this if you want to print with
     drop shadows on block quotes - this will
     cause text to be non-selectable in block quotes */  
  /*blockquote {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    filter: opacity(1);
    -webkit-filter: opacity(1);
  }*/

  .print-page {
    counter-increment: page-numbers;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    position: relative;
    height: 11in;
    width: 8.5in;   
    z-index: 10;
    box-sizing: border-box; 
    padding-top: 0.25in;
    padding-bottom: 0.55in;
    padding-left: 0.25in;
    padding-right: 0.25in;
    text-rendering: optimizeLegibility;
  	page-break-before: always;
    page-break-after: always;
    overflow: hidden;
  }

  .print-page > .page-content {    
    height: 10.2in;
    width: 8in;
    position: relative;
    z-index: 20;
  }

  .print-page > .page-content-two-column {
    height: 10.2in;
    width: 8in;   
    position: relative;
    z-index: 20;
    column-count: 2;
    column-gap: 0.25in;
    column-fill: auto;
    -webkit-column-count: 2;
	  -moz-column-count: 2;
	  -webkit-column-gap: 0.25in;
  	-moz-column-gap: 0.25in;
  }

  table.sidebar {
    margin-left: 0.1in;
    margin-right: 0.1in;
    width: calc(100% - 0.2in);
  }

  .statblock {
    width: 3.5in;
  }

  .print-page:after {
    content: "";
		position: fixed;
		bottom: 0;
		left: 0;
    z-index: 100;
		height: .50in;
		width: 8.5in;
		background-size: 8.5in .50in;
  }

  .print-page > .footer-content {
    font-family: 'Andada SC', '-apple-system', sans-serif;
    position: absolute;
    font-variant: small-caps;
		bottom: 10px;
		width: 8.5in;
		font-size: 15px;
    color: #AEA41A;
    right: 2px;
		text-align: center;
  }

  .print-page > .footer-page-number {
    font-family: 'Andada SC', '-apple-system', sans-serif;
    position: absolute;
		bottom: 22px;
		width: 50px;
		font-size: 15px;
    color: #AEA41A;
    right: 2px;
		text-align: center;
  }

  .print-page > .footer-page-number:after {
    content: counter(page-numbers);
  }

  .print-column-break {
    break-after: always;
    display: flex;
    -webkit-column-break-after: always;
    -moz-column-break-after: always;
  }
}