/**** Overrides for VS Code styles ****/

html, body {
	font-family: '-apple-system', sans-serif;
	font-size: 13px;
	padding: 0px;
	line-height: 18px;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #58180d;
  text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none;
	outline-offset: none;
}

hr {
  border-color: #58180d;
	height: 1px;
	border-bottom: 1px solid;
}

h1 {
	border-bottom-width: 0px;
	border-bottom-style: none;
}

table > thead > tr > th {
	text-align: left;
	border-bottom: 1px solid;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td {
	padding: 10px;
}

table > tbody > tr + tr > td {
	border-top: none;
}

blockquote {
	border-left-width: 0px;
	border-left-style: none;
}

code {
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	font-size: 1em;
	line-height: 1.357em;
}

/** Theming */
.vscode-light pre {
	background-color: #f5f5f5;
}

.vscode-dark pre {
	background-color: #f5f5f5;
}

.vscode-high-contrast pre {
	background-color: #f5f5f5
}

.vscode-high-contrast h1 {
	border-color: none;
}

.vscode-light table > thead > tr > th {
	border-width: 0px;
}

.vscode-dark table > thead > tr > th {
	border-width: 0px;
}

.vscode-light h1 {
	border-width: 0px;
}

.vscode-light hr {
	border-color: #58180d;
	height: 1px;
	border-bottom: 1px solid;
}

.vscode-light table > tbody > tr + tr > td {
	border-width: 0px;
}

.vscode-light table.shop > tbody > tr + tr > td {
  border-color: #58180d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.vscode-dark h1 {
	border-width: 0px;
}

.vscode-dark hr {
	border-color: #58180d;
	height: 1px;
	border-bottom: 1px solid;
}

.vscode-dark table > tbody > tr + tr > td {
	border-width: 0px;
}

.vscode-dark table.shop > tbody > tr + tr > td {
  border-color: #58180d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.vscode-light hr.statblock-border {
	border-color: #000;
	height: 5px;
}

.vscode-dark hr.statblock-border {
	border-color: #000;
	height: 5px;
}