
html, body {
	height: 100%;
	background-color: #333;
}

body {
    font-size: 13px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
    color: #ddd;
    background: url('../img/bg.jpg') #333333 repeat;

    text-align: center;
    display: flex;

    -webkit-user-select: none;
  	-webkit-app-region: drag;  	
}

#container {
	width: 100%;
	height: 100%;

/*	background: url('../img/stain.png') center -440px;
	background-repeat: no-repeat;*/
}

#footer {
	margin-top: auto;
}

/*#footer a {
	color: white;
}*/

#content {
	padding: 14px;
	margin-top: auto;
}

#add-section p {
	margin-bottom: 5px;
	font-weight: 300;

}

#add-button {
	background-color: rgba(255,255,255, 0.1);
	display: inline-block;
	border-radius: 50%;
	transition: 0.3s;
	margin: 30px;
}

#add-button:hover {
	background-color: rgba(255,255,255, 0.3);
}

#help-button img {
	color: white;
	padding: 20%;
}

#help-button {
	position: absolute;
	right: 0px;
	background-color: rgba(255,255,255, 0.1);
	border-radius: 50%;
	transition: 0.3s;
	margin: 5px;
	width: 32px;
	height: 32px;
}

#help-button:hover {
	background-color: rgba(255,255,255, 0.3);
}

#add-button img {
	width: 100px;
	height: 100px;
	color: white;
	padding: 20%;
}

#module-section {
	max-width: 260px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#status {
	padding: 10px;
}

#status-info {
	margin-bottom: 5px;
}

.form-control {
	color: white;
	border-color: rgba(255,255,255,0.15);
	background-color: rgba(255,255,255,0.05);
}

.form-control:focus {
    color: white;
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(255,255,255,0.2);
    outline: 0;
    box-shadow: none;
}

img {
    max-width: 100%;
    height: auto;
}