/*
 Encounter+ iOS
 version 1.0
 ----------------
 global styles & theme
 */
/******** Color Variables ********/
@font-face {
  font-family: 'Andada SC';
  src: url('../font/AndadaSC-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Andada SC';
  src: url('../font/AndadaSC-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Andada SC';
  src: url('../font/AndadaSC-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Andada SC';
  src: url('../font/AndadaSC-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Solbera Imitation';
  src: url('../font/Solbera-Imitation.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Zatanna Misdirection';
  src: url('../font/Zatanna-Misdirection.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Zatanna Misdirection';
  src: url('../font/Zatanna-Misdirection-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Zatanna Misdirection';
  src: url('../font/Zatanna-Misdirection-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Zatanna Misdirection';
  src: url('../font/Zatanna-Misdirection-Bold-Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
/******** Body / HTML ********/
html {
  -webkit-print-color-adjust: exact;
  font-size: 10px;
}
html.catalyst {
  font-size: 13px;
}
p {
  margin-block-start: 0;
  margin-block-end: 1em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.float-left {
  float: left;
  margin-right: 1rem;
}
.float-right {
  float: right;
  margin-left: 1rem;
}
.hidden {
  display: none;
}
/******** Multi-column Div ********/
div.two-column:not(.statblock) {
  width: 7.5in;
  position: relative;
  column-count: 2;
  column-gap: 0.25in;
  column-fill: auto;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-gap: 0.25in;
  -moz-column-gap: 0.25in;
}
/******** Headings ********/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-weight: normal;
  display: block;
  padding: 0;
  margin: 0.5rem 0;
}
h1 {
  font-size: 3rem;
  line-height: 3.4rem;
  padding-bottom: 0.5rem;
}
h2 {
  font-size: 2.3rem;
  line-height: 2.8rem;
}
h3 {
  font-size: 2rem;
  border-bottom: 0.1rem solid #58180d;
  line-height: 2.8rem;
  overflow: hidden;
}
h4 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}
h1 + p:not(.no-fancy)::first-letter {
  font-family: 'Solbera Imitation' !important;
  font-size: 9.3rem;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-top: -0.3rem;
  padding-right: 0.8rem;
  float: left;
}
/******** Horizontal Rule ********/
hr {
  border-color: #58180d;
  height: 0.1rem;
  border-bottom: 0.1rem solid;
}
/******** Standard Block Quote ********/
.blockquote-wrap {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  overflow: hidden;
  page-break-inside: avoid;
}
blockquote {
  font-family: '-apple-system', sans-serif !important;
  font-size: 1.3rem;
  display: block;
  background-color: #e0e4c3;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  position: relative;
  border-top: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote:before,
blockquote:after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  width: 1.4rem;
  top: -0.8rem;
  bottom: -0.8rem;
  background-size: 1.4rem 0.7rem;
}
blockquote:before {
  left: 0;
  background-image: linear-gradient(to bottom right, #fff0 0%, #fff0 50%, #000 50%, #000 100%), linear-gradient(to top right, #fff0 0%, #fff0 50%, #000 50%, #000 100%);
}
blockquote:after {
  right: 0;
  background-image: linear-gradient(to bottom left, #fff0 0%, #fff0 50%, #000 50%, #000 100%), linear-gradient(to top left, #fff0 0%, #fff0 50%, #000 50%, #000 100%);
}
blockquote.green {
  background: #e0e4c3;
}
blockquote.green.color-links a {
  color: #099d43;
}
blockquote.red {
  background: #e4c3c3;
}
blockquote.red.color-links a {
  color: #9d0e09;
}
blockquote.blue {
  background: #c3d3e4;
}
blockquote.blue.color-links a {
  color: #105a92;
}
blockquote.yellow {
  background: #e4e1c3;
}
blockquote.yellow.color-links a {
  color: #d77e20;
}
blockquote.gray {
  background: #d4d4d4;
}
blockquote.gray.color-links a {
  color: #535353;
}
blockquote.purple {
  background: #cec3e4;
}
blockquote.purple.color-links a {
  color: #551092;
}
blockquote.neutral {
  background: #d8d6d2;
}
blockquote.neutral.color-links a {
  color: #631d07;
}
/******** Read-Aloud Block Quote ********/
.blockquote-read-wrap {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0rem;
  overflow: hidden;
  page-break-inside: avoid;
}
blockquote.read {
  border-top: none;
  border-bottom: none;
  border-left: 0.2rem solid #58180d;
  border-right: 0.2rem solid #58180d;
  background-color: #edebe8;
  box-shadow: none;
}
blockquote.read:before,
blockquote.read:after {
  width: 0.4rem;
  background-size: 0.4rem 0.4rem;
  background-position: top center, bottom center;
  top: -0.3rem;
  bottom: -0.3rem;
  background-image: radial-gradient(circle at center, #58180d 0.2rem, transparent 0), radial-gradient(circle at center, #58180d 0.2rem, transparent 0);
}
blockquote.read:before {
  left: -0.3rem;
}
blockquote.read:after {
  right: -0.3rem;
}
/******** Large Quote Block Quote ********/
blockquote.large-quote {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin: 1rem 4rem;
  padding: 2rem 0;
  line-height: 1.45;
  position: relative;
  color: #58180d;
  border-top: none;
  border-bottom: none;
  background-color: transparent;
  box-shadow: none;
  border-top: 0.2rem solid #58180d;
  border-bottom: 0.2rem solid #58180d;
}
blockquote.large-quote:before {
  background-image: none;
}
blockquote.large-quote:after {
  background-image: none;
}
/******** Paper Block Quote ********/
.blockquote-paper-wrap {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  margin: 1rem;
  overflow: hidden;
  page-break-inside: avoid;
}
blockquote.paper {
  font-family: 'Zatanna Misdirection', '-apple-system', sans-serif !important;
  border-left: 0.1rem solid #d7d2d0;
  border-right: 0.1rem solid #d7d2d0;
  border-top: 0;
  border-bottom: 0;
  background-color: #fbf4df;
  padding: 2rem;
  box-shadow: none;
}
blockquote.paper:before,
blockquote.paper:after {
  content: '';
  background-image: url('../img/note.png');
  background-size: 100% 100%;
  height: 1.5rem;
  position: absolute;
  left: -0.1rem;
  right: -0.1rem;
  width: auto;
}
blockquote.paper:before {
  transform: rotateY(180deg);
  top: -1.5rem;
  bottom: unset;
}
blockquote.paper:after {
  transform: rotateX(180deg);
  bottom: -1.5rem;
  top: unset;
}
/******** Flowchart Block Quote ********/
blockquote.flowchart,
blockquote.flowchart-with-link {
  box-shadow: none;
  border-width: 1.6rem 1.6rem 1.6rem 1.6rem;
  border-style: solid;
  border-color: transparent;
  border-image-repeat: repeat;
  border-image-slice: 16 16 16 16 fill;
  background-color: transparent;
  padding: 1rem;
  position: relative;
  border-image-source: url('../img/flowchart.png');
  margin: 5rem 2.5rem;
}
blockquote.flowchart:before,
blockquote.flowchart-with-link:before,
blockquote.flowchart:after,
blockquote.flowchart-with-link:after {
  background-image: none;
}
blockquote.flowchart-with-link:before {
  content: '';
  border-left: 0.3rem solid #58180d;
  height: 10rem;
  left: 50%;
  position: absolute;
  margin-top: -8rem;
  z-index: -1;
}
/******** Flavor Text Block Quote ********/
.blockquote-flavortext-wrap {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  display: table;
  page-break-inside: avoid;
}
blockquote.flavortext {
  font-family: 'Zatanna Misdirection', '-apple-system', sans-serif !important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  background-image: url('../img/flavortext.png');
  background-size: cover;
  padding: 2rem;
  filter: opacity(1);
  max-width: 50rem;
  -webkit-filter: opacity(1);
  transform: rotate(-7deg);
  margin: 0;
}
blockquote.flavortext:before,
blockquote.flavortext:after {
  background-image: none;
}
/******** Marks ********/
mark {
  background: #e4c3c3;
}
/******** Square List Style ********/
ul.square {
  list-style-type: square;
}
/******** Table of Content List Style ********/
ul.toc {
  padding-left: 0;
}
ul.toc li {
  font-size: 1.3rem;
  font-weight: normal;
  display: flex;
  margin-bottom: 1rem;
  padding-left: 2em;
}
ul.toc li span.toc-title {
  order: 1;
  margin-right: 0.25rem;
}
ul.toc li span.toc-page-number {
  font-size: 1.3rem;
  font-weight: normal;
  color: #000000;
  order: 3;
  margin-left: 0.25em;
}
ul.toc li span.toc-page-number a {
  color: #000000;
}
ul.toc li::after {
  content: "";
  color: #000000;
  border-bottom: 0.2rem dotted;
  flex-grow: 1;
  order: 2;
}
ul.toc li a {
  color: #000000;
}
ul.toc li.subitem {
  padding-left: 3em;
}
ul.toc li.part {
  padding-left: 0;
  border-bottom: 0.1rem solid #58180d;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: bold;
  color: #58180d;
}
ul.toc li.part::after {
  border-bottom: none;
}
ul.toc li.part a {
  color: #58180d;
}
ul.toc li.category {
  padding-left: 1em;
  font-size: 1.4rem;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  font-weight: bold;
  color: #58180d;
}
ul.toc li.category a {
  color: #58180d;
}
/******** Code Blocks ********/
code,
pre {
  display: block;
  background: #f5f5f5;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  border-top: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
/******** Links ********/
a {
  color: #33CC80;
  text-decoration: none;
  font-weight: bold;
}
a.underline {
  text-decoration: underline !important;
}
a.green {
  color: #099d43 !important;
}
a.red {
  color: #9d0e09 !important;
}
a.blue {
  color: #105a92 !important;
}
a.yellow {
  color: #d77e20 !important;
}
a.gray {
  color: #535353 !important;
}
a.purple {
  color: #551092 !important;
}
a.neutral {
  color: #631d07 !important;
}
a.black {
  color: #000000 !important;
}
a:hover {
  text-decoration: none;
}
a[href*='dndbeyond.com/sources'],
a[href*='/page/'] {
  color: #33CC80;
}
a[href*='dndbeyond.com/monsters'],
a[href*='/monster/'] {
  color: #bc0f0e;
}
a[href*='dndbeyond.com/spells'],
a[href*='/spell/'] {
  color: #532bca;
  font-style: italic;
}
a[href*='dndbeyond.com/equipment'],
a[href*='dndbeyond.com/magic-items'],
a[href*='/item/'] {
  color: #105a92;
  font-style: italic;
}
a[href*='/roll/'] {
  color: #d77e20;
}
/******** Text Alignment ********/
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
/******** Images ********/
figure {
  margin: 0;
  padding: 0;
  page-break-inside: avoid;
}
figcaption {
  text-align: center;
  font-size: 0.9rem;
}
img {
  max-width: 100%;
  height: auto;
}
figure.size-full,
img.size-full {
  width: 100%;
  height: auto;
}
/******** Tables ********/
.table-responsive,
.table-overflow-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
table {
  font-family: '-apple-system', sans-serif;
  border-collapse: collapse;
  margin-bottom: 3rem;
  page-break-inside: avoid;
  overflow-wrap: break-word;
}
table.center {
  display: table;
}
table:not(.center):not(.float-left):not(.float-right):not(.sidebar) {
  width: 100%;
}
table.header-title thead {
  font-weight: bold;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
}
table a {
  color: #631d07;
}
table thead {
  font-weight: bold;
}
table tbody tr:nth-child(odd) {
  background: #e0e4c3;
}
table.green.color-links a {
  color: #099d43;
}
table.green tbody tr:nth-child(odd) {
  background: #e0e4c3;
}
table.red.color-links a {
  color: #9d0e09;
}
table.red tbody tr:nth-child(odd) {
  background: #e4c3c3;
}
table.blue.color-links a {
  color: #105a92;
}
table.blue tbody tr:nth-child(odd) {
  background: #c3d3e4;
}
table.yellow.color-links a {
  color: #d77e20;
}
table.yellow tbody tr:nth-child(odd) {
  background: #e4e1c3;
}
table.gray.color-links a {
  color: #535353;
}
table.gray tbody tr:nth-child(odd) {
  background: #d4d4d4;
}
table.purple.color-links a {
  color: #551092;
}
table.purple tbody tr:nth-child(odd) {
  background: #cec3e4;
}
table.neutral {
  background: #edebe8;
}
table.neutral.color-links a {
  color: #631d07;
}
table.neutral tbody tr:nth-child(odd) {
  background: #d8d6d2;
}
td,
th {
  text-align: left;
  padding: 1rem;
}
th p,
td p {
  margin: 0;
  padding: 0;
}
tbody tr:nth-child(odd) {
  background: #e0e4c3;
}
/******** Shop Tables ********/
table.shop tbody {
  font-size: 1.1rem;
}
table.shop tbody tr:nth-child(odd) {
  background: #edebe840;
}
table.shop tbody table.shop > thead > tr > td,
table.shop > tbody > tr > td {
  border-color: #58180d;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
}
table.shop > tbody > tr {
  background: none;
}
table.shop > tbody > tr.shopH1 {
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-size: 1.4rem;
  font-weight: bold;
}
table.shop > tbody > tr.shopH2 {
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-size: 1.2rem;
  font-weight: bold;
}
/******** Sidebar Tables ********/
table.sidebar {
  line-height: 1.3rem;
  background: #edebe8;
  font-size: 1.1rem;
  page-break-inside: avoid;
  float: right;
  margin-left: 1rem;
  max-width: 40rem;
  width: 45%;
}
table.sidebar tbody tr:nth-child(odd) {
  background: #d8d6d2;
}
table.sidebar tr td img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: auto;
}
table.sidebar thead {
  font-weight: bold;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-size: 1.8rem;
  border-top: none;
}
table.sidebar tbody tr {
  border-bottom: none;
  border-top: none;
  border-collapse: separate;
}
table.sidebar td:first-child {
  font-weight: bold;
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #58180d;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
}
/******** Statblock Div Styles ********/
.statblock {
  font-family: '-apple-system', sans-serif;
  text-align: left;
  margin: 1rem 2rem;
  display: inline-block;
  vertical-align: top;
  width: 30rem;
  background: #fdf1dc;
  padding: 0.5rem 1rem 2rem;
  page-break-inside: avoid;
}
.statblock.two-column {
  width: 90%;
  max-width: 85rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.statblock.two-column .statblock-section-left,
.statblock.two-column .statblock-section-right {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  text-align: left;
}
.statblock.two-column .statblock-section-left {
  margin-right: 1.5%;
}
.statblock.two-column .statblock-section-right {
  margin-left: 1.5%;
}
.statblock .statblock-title {
  font-family: 'Andada SC', '-apple-system', sans-serif;
  color: #922610;
  font-size: 2.3rem;
  line-height: 1.2em;
  margin: 1rem 0 0;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  font-weight: bold;
}
.statblock .statblock-subtitle,
.statblock .statblock-trait-name,
.statblock .statblock-topstat-name,
.statblock .statblock-property-name,
.statblock .statblock-property-name,
.statblock .statblock-section-title,
.statblock .statblock-property-value {
  color: #7a200d;
}
.statblock .statblock-trait-name,
.statblock .statblock-topstat-name,
.statblock .statblock-ability-abbrev,
.statblock .statblock-property-name {
  font-weight: bold;
}
.statblock .statblock-trait-description,
.statblock .statblock-action-description,
.statblock .statblock-property-value,
.statblock .statblock-property-name,
.statblock .statblock-trait-name,
.statblock .statblock-topstat-name,
.statblock .statblock-topstat-value {
  display: inline;
}
.statblock .statblock-border {
  display: block;
  background: #dea858;
  border: 0.1rem solid #000000;
  height: 0.5rem;
  padding: 0 1rem 0;
  margin: -0.5rem -1rem 0;
  box-sizing: initial;
}
.statblock .statblock-border.bottom {
  margin: 1.5rem -1rem -2rem;
}
.statblock .statblock-tapered-rule {
  display: block;
  width: 100%;
  height: 0.5rem;
  border: none;
  color: #922610;
  fill: #922610;
  stroke: #922610;
}
.statblock .statblock-subtitle {
  font-weight: normal;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.2em;
  margin: 0 0 1rem;
}
.statblock .statblock-topstat-name,
.statblock .statblock-topstat-value {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.2em;
}
.statblock .statblock-topstat-value {
  color: #922610;
}
.statblock .statblock-property-line {
  text-indent: -1em;
  padding-left: 1.1em;
  line-height: 1.4em;
}
.statblock .statblock-property-line.first {
  margin: 0.8rem 0 0;
}
.statblock .statblock-property-line.last {
  margin: 0 0 1rem;
}
.statblock .statblock-abilities {
  text-align: center;
  color: #922610;
}
.statblock .statblock-abilities > div {
  display: inline-block;
  vertical-align: middle;
  width: 16.5%;
  min-width: 4rem;
  font-size: 1.2rem;
  line-height: 1em;
}
.statblock .statblock-ability-abbrev {
  margin: 1rem 0 0.2rem;
  font-size: 1.3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #922610;
}
.statblock .statblock-ability-value {
  margin: 0 0 1rem;
  line-height: 1.2em;
  font-weight: lighter;
}
.statblock .statblock-action-name,
.statblock .statblock-trait-name {
  color: #000000;
  font-size: 1.35rem;
  line-height: 1.2em;
  display: inline;
  margin: 0;
}
.statblock .statblock-action-name,
.statblock .statblock-trait-name {
  font-style: italic;
  font-weight: bold;
}
.statblock .statblock-property-block {
  padding: 1rem 0.2rem 0;
}
.statblock .statblock-actions,
.statblock .statblock-reactions,
.statblock .statblock-legendary-actions {
  margin: 0 0 2rem;
}
.statblock .statblock-section-title {
  border-bottom: 0.1rem solid #922610;
  font-size: 2.1rem;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 0.1rem;
  margin: 2rem 0 0;
  padding: 0 0 1rem;
  text-indent: 0.5rem;
}
.statblock .statblock-spacer {
  width: 2.5rem;
  min-width: 1rem;
  display: inline-block;
}
.statblock img.stablock-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.statblock .statblock-actions:last-child,
.statblock .statblock-reactions:last-child,
.statblock .statblock-legendary-actions:last-child {
  margin: 0;
}
/* Blue Stat Blocks */
.statblock.blue {
  background: #e5edf4;
}
.statblock.blue .statblock-title,
.statblock.blue .statblock-tapered-rule,
.statblock.blue .statblock-topstat-value,
.statblock.blue .statblock-abilities,
.statblock.blue .statblock-ability-abbrev,
.statblock.blue .statblock-section-title {
  color: #105a92;
}
.statblock.blue .statblock-tapered-rule {
  fill: #105a92;
  stroke: #105a92;
}
.statblock.blue .statblock-section-title {
  border-bottom-color: #105a92;
}
.statblock.blue .statblock-subtitle,
.statblock.blue .statblock-topstat-name,
.statblock.blue .statblock-property-name,
.statblock.blue .statblock-property-name,
.statblock.blue .statblock-section-title,
.statblock.blue .statblock-property-value {
  color: #0d3e7a;
}
.statblock.blue .statblock-border {
  background: #7c9eba;
}
.statblock.green {
  background: #e4f5eb;
}
.statblock.green .statblock-title,
.statblock.green .statblock-tapered-rule,
.statblock.green .statblock-topstat-value,
.statblock.green .statblock-abilities,
.statblock.green .statblock-ability-abbrev,
.statblock.green .statblock-section-title {
  color: #099d43;
}
.statblock.green .statblock-tapered-rule {
  fill: #099d43;
  stroke: #099d43;
}
.statblock.green .statblock-section-title {
  border-bottom-color: #099d43;
}
.statblock.green .statblock-subtitle,
.statblock.green .statblock-topstat-name,
.statblock.green .statblock-property-name,
.statblock.green .statblock-property-name,
.statblock.green .statblock-section-title,
.statblock.green .statblock-property-value {
  color: #068347;
}
.statblock.green .statblock-border {
  background: #78bf94;
}
.statblock.red {
  background: #f5e4e4;
}
.statblock.red .statblock-title,
.statblock.red .statblock-tapered-rule,
.statblock.red .statblock-topstat-value,
.statblock.red .statblock-abilities,
.statblock.red .statblock-ability-abbrev,
.statblock.red .statblock-section-title {
  color: #9d0e09;
}
.statblock.red .statblock-tapered-rule {
  fill: #9d0e09;
  stroke: #9d0e09;
}
.statblock.red .statblock-section-title {
  border-bottom-color: #9d0e09;
}
.statblock.red .statblock-subtitle,
.statblock.red .statblock-topstat-name,
.statblock.red .statblock-property-name,
.statblock.red .statblock-property-name,
.statblock.red .statblock-section-title,
.statblock.red .statblock-property-value {
  color: #831a06;
}
.statblock.red .statblock-border {
  background: #bf7a78;
}
.statblock.yellow {
  background: #f7f1ed;
}
.statblock.yellow .statblock-title,
.statblock.yellow .statblock-tapered-rule,
.statblock.yellow .statblock-topstat-value,
.statblock.yellow .statblock-abilities,
.statblock.yellow .statblock-ability-abbrev,
.statblock.yellow .statblock-section-title {
  color: #d77e20;
}
.statblock.yellow .statblock-tapered-rule {
  fill: #d77e20;
  stroke: #d77e20;
}
.statblock.yellow .statblock-section-title {
  border-bottom-color: #d77e20;
}
.statblock.yellow .statblock-subtitle,
.statblock.yellow .statblock-topstat-name,
.statblock.yellow .statblock-property-name,
.statblock.yellow .statblock-property-name,
.statblock.yellow .statblock-section-title,
.statblock.yellow .statblock-property-value {
  color: #dd712f;
}
.statblock.yellow .statblock-border {
  background: #cdb4a5;
}
.statblock.gray {
  background: #ededed;
}
.statblock.gray .statblock-title,
.statblock.gray .statblock-tapered-rule,
.statblock.gray .statblock-topstat-value,
.statblock.gray .statblock-abilities,
.statblock.gray .statblock-ability-abbrev,
.statblock.gray .statblock-section-title {
  color: #535353;
}
.statblock.gray .statblock-tapered-rule {
  fill: #535353;
  stroke: #535353;
}
.statblock.gray .statblock-section-title {
  border-bottom-color: #535353;
}
.statblock.gray .statblock-subtitle,
.statblock.gray .statblock-topstat-name,
.statblock.gray .statblock-property-name,
.statblock.gray .statblock-property-name,
.statblock.gray .statblock-section-title,
.statblock.gray .statblock-property-value {
  color: #454545;
}
.statblock.gray .statblock-border {
  background: #9c9c9c;
}
.statblock.neutral {
  background: #edebe8;
}
.statblock.neutral .statblock-title,
.statblock.neutral .statblock-tapered-rule,
.statblock.neutral .statblock-topstat-value,
.statblock.neutral .statblock-abilities,
.statblock.neutral .statblock-ability-abbrev,
.statblock.neutral .statblock-section-title {
  color: #631d07;
}
.statblock.neutral .statblock-tapered-rule {
  fill: #631d07;
  stroke: #631d07;
}
.statblock.neutral .statblock-section-title {
  border-bottom-color: #631d07;
}
.statblock.neutral .statblock-subtitle,
.statblock.neutral .statblock-topstat-name,
.statblock.neutral .statblock-property-name,
.statblock.neutral .statblock-property-name,
.statblock.neutral .statblock-section-title,
.statblock.neutral .statblock-property-value {
  color: #75240b;
}
.statblock.neutral .statblock-border {
  background: #bda099;
}
.statblock.purple {
  background: #ede5f4;
}
.statblock.purple .statblock-title,
.statblock.purple .statblock-tapered-rule,
.statblock.purple .statblock-topstat-value,
.statblock.purple .statblock-abilities,
.statblock.purple .statblock-ability-abbrev,
.statblock.purple .statblock-section-title {
  color: #551092;
}
.statblock.purple .statblock-tapered-rule {
  fill: #551092;
  stroke: #551092;
}
.statblock.purple .statblock-section-title {
  border-bottom-color: #551092;
}
.statblock.purple .statblock-subtitle,
.statblock.purple .statblock-topstat-name,
.statblock.purple .statblock-property-name,
.statblock.purple .statblock-property-name,
.statblock.purple .statblock-section-title,
.statblock.purple .statblock-property-value {
  color: #470d7a;
}
.statblock.purple .statblock-border {
  background: #9b7cba;
}
/******** Item Style ********/
.item-block {
  font-family: '-apple-system', sans-serif;
  margin: 1.5rem 0 1.5rem 0;
}
.item-block .item-block-body {
  padding: 1rem 1rem 1rem 1rem;
  border-left: 0.1rem solid #d4d4d4;
  border-right: 0.1rem solid #d4d4d4;
  background: #ffffff;
}
.item-block .item-block-title {
  font-size: 2rem;
  line-height: 1.2em;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  font-weight: bold;
}
.item-block .item-block-top-border {
  display: block;
  background: #588ede;
  height: 0.3rem;
  padding: 0 1rem 0;
  box-sizing: initial;
}
.item-block .item-block-heading-border {
  display: block;
  background: #588ede;
  height: 0.1rem;
  margin: 0 2rem 1rem 0;
  box-sizing: initial;
}
.item-block .item-block-bottom-border {
  content: '';
  background-image: url('../img/item.png');
  background-size: 100% 100%;
  height: 1.5rem;
  width: auto;
  margin: 0 -1.1rem -1.5rem -1.1rem;
}
.item-block .item-block-description {
  font-size: 1.3rem;
  display: inline;
}
.item-block .item-block-heading {
  font-size: 1.3rem;
  font-style: italic;
  margin: 0;
}
.item-block.blue .item-block-top-border {
  background: #105a92;
}
.item-block.blue .item-block-heading-border {
  background: #105a92;
}
.item-block.green .item-block-top-border {
  background: #099d43;
}
.item-block.green .item-block-heading-border {
  background: #099d43;
}
.item-block.red .item-block-top-border {
  background: #9d0e09;
}
.item-block.red .item-block-heading-border {
  background: #9d0e09;
}
.item-block.yellow .item-block-top-border {
  background: #d7c220;
}
.item-block.yellow .item-block-heading-border {
  background: #d7c220;
}
.item-block.orange .item-block-top-border {
  background: #dd712f;
}
.item-block.orange .item-block-heading-border {
  background: #dd712f;
}
.item-block.gray .item-block-top-border {
  background: #535353;
}
.item-block.gray .item-block-heading-border {
  background: #535353;
}
.item-block.neutral .item-block-top-border {
  background: #631d07;
}
.item-block.neutral .item-block-heading-border {
  background: #631d07;
}
.item-block.purple .item-block-top-border {
  background: #6431ab;
}
.item-block.purple .item-block-heading-border {
  background: #6431ab;
}
/******** Spell Style ********/
.spell-block {
  font-family: '-apple-system', sans-serif;
  margin: 1.5rem 0 1.5rem 0;
}
.spell-block .spell-block-body {
  padding: 1rem 1rem 1rem 1rem;
  border-left: 0.1rem solid #d4d4d4;
  border-right: 0.1rem solid #d4d4d4;
  background: #ffffff;
}
.spell-block .spell-block-title {
  font-size: 2rem;
  line-height: 1.2em;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  font-weight: bold;
}
.spell-block .spell-block-top-border {
  display: block;
  background: #6431ab;
  height: 0.3rem;
  padding: 0 1rem 0;
  box-sizing: initial;
}
.spell-block .spell-block-heading-border {
  display: block;
  background: #6431ab;
  height: 0.1rem;
  margin: 0 2rem 1rem 0;
  box-sizing: initial;
}
.spell-block .spell-block-bottom-border {
  content: '';
  background-image: url('../img/item.png');
  background-size: 100% 100%;
  height: 1.5rem;
  width: auto;
  margin: 0 -1.1rem -1.5rem -1.1rem;
}
.spell-block .spell-block-description {
  font-size: 1.3rem;
}
.spell-block .spell-block-heading {
  font-size: 1.3rem;
  font-style: italic;
  margin: 0;
}
.spell-block.blue .spell-block-top-border {
  background: #105a92;
}
.spell-block.blue .spell-block-heading-border {
  background: #105a92;
}
.spell-block.green .spell-block-top-border {
  background: #099d43;
}
.spell-block.green .spell-block-heading-border {
  background: #099d43;
}
.spell-block.red .spell-block-top-border {
  background: #9d0e09;
}
.spell-block.red .spell-block-heading-border {
  background: #9d0e09;
}
.spell-block.yellow .spell-block-top-border {
  background: #d7c220;
}
.spell-block.yellow .spell-block-heading-border {
  background: #d7c220;
}
.spell-block.orange .spell-block-top-border {
  background: #dd712f;
}
.spell-block.orange .spell-block-heading-border {
  background: #dd712f;
}
.spell-block.gray .spell-block-top-border {
  background: #535353;
}
.spell-block.gray .spell-block-heading-border {
  background: #535353;
}
.spell-block.neutral .spell-block-top-border {
  background: #631d07;
}
.spell-block.neutral .spell-block-heading-border {
  background: #631d07;
}
.spell-block.purple .spell-block-top-border {
  background: #6431ab;
}
.spell-block.purple .spell-block-heading-border {
  background: #6431ab;
}
/******** Screen-Specific Styles ********/
@media screen and (max-width: 45rem) {
  /* Make the statblock single column when the screen width is too small */
  .statblock.two-column {
    width: 30rem;
    max-width: unset;
    position: unset;
    left: unset;
    transform: unset;
  }
  .statblock.two-column .statblock-section-left,
  .statblock.two-column .statblock-section-right {
    display: unset;
    vertical-align: unset;
    width: unset;
    text-align: unset;
  }
  .statblock.two-column .statblock-section-left {
    margin-right: unset;
  }
  .statblock.two-column .statblock-section-right {
    margin-left: unset;
  }
}
@media screen and (max-width: 40rem) {
  /* Make the sidebar not float when the screen width is too small */
  table.sidebar {
    float: none;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: calc(100% - 0.2in);
  }
}
@media screen {
  .print-only {
    display: none;
  }
  html {
    margin: 0;
  }
  body {
    font-family: '-apple-system', sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0;
    margin: 0;
    color: black;
    background: url('../img/bg.png') #fefefc repeat;
  }
  .statblock {
    box-shadow: 0 0 0.5em #616161;
    margin: 0.5em;
  }
  figure.size-cover,
  img.size-cover {
    max-width: none;
    width: calc(100% + 4rem);
    margin-top: calc(-3rem);
    margin-left: calc(-2rem);
    margin-right: calc(-2rem);
    margin-bottom: calc(2rem);
    height: auto;
  }
  #page {
    padding: 1.5rem 2rem;
    overflow: hidden;
  }
  blockquote {
    box-shadow: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
}
/******** Print-Specific Styles ********/
@media print {
  @page {
    size: auto;
    margin: 0;
  }
  a {
    font-weight: bold;
  }
  ul.toc > li > a,
  ul.toc > li > span > a {
    font-weight: unset;
  }
  div.print-two-column:not(.statblock) {
    width: 7.5in;
    position: relative;
    column-count: 2;
    column-gap: 0.25in;
    column-fill: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-gap: 0.25in;
    -moz-column-gap: 0.25in;
  }
  .print-cover-page,
  .print-section-cover-page {
    position: relative;
    height: 11in;
    width: 8.5in;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-size: 100%;
  }
  p.size-cover,
  p.size-full,
  div.size-full {
    column-span: all;
  }
  figure.size-cover,
  img.size-cover {
    max-width: none;
    width: calc(100% + 1in);
    margin-top: -0.5in;
    margin-left: -0.5in;
    margin-right: -0.5in;
    margin-bottom: 0;
    height: auto;
  }
  figure.size-cover.with-margin,
  img.size-cover.with-margin {
    margin-left: -0.25in;
    margin-right: -0.25in;
  }
  .print-bottom-right {
    position: absolute;
    bottom: -1.05in;
    right: -0.5in;
    z-index: -1;
  }
  .print-bottom-right.with-margin {
    bottom: 0.1rem;
    right: 0.1rem;
  }
  .print-bottom-left {
    position: absolute;
    bottom: -1.05in;
    left: -0.5in;
    z-index: -1;
  }
  .print-bottom-left.with-margin {
    bottom: 0.1rem;
    left: 0.1rem;
  }
  .print-top-left {
    position: absolute;
    top: -0.55in;
    left: -0.5in;
    z-index: -1;
  }
  .print-top-left.with-margin {
    top: 0.1rem;
    left: 0.1rem;
  }
  .print-top-right {
    position: absolute;
    top: -0.55in;
    right: -0.5in;
    z-index: -1;
  }
  .print-top-right.with-margin {
    top: 0.1rem;
    right: 0.1rem;
  }
  .screen-only {
    display: none;
  }
  body {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0;
    margin: 0;
    color: #000000;
  }
  blockquote {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  /* Enable this if you want to print with
     drop shadows on elements - this will
     cause text to be non-selectable in block quotes */
  /*blockquote {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    filter: opacity(1);
    -webkit-filter: opacity(1);
  }
  .statblock {
    box-shadow: 0 0 0.5em #616161;
    margin: 20px;
    filter: opacity(1);
    -webkit-filter: opacity(1);
  }
  */
  .statblock {
    box-shadow: 0 0 0.5em #616161;
    margin: 1em 0.25em;
    filter: opacity(1);
    -webkit-filter: opacity(1);
  }
  .print-page {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    position: relative;
    height: 11in;
    width: 8.5in;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 0.5in;
    padding-bottom: 0.6in;
    padding-left: 0.5in;
    padding-right: 0.5in;
    text-rendering: optimizeLegibility;
    page-break-before: always;
    page-break-after: always;
    overflow: hidden;
  }
  .print-page .footer-background {
    position: absolute;
    bottom: 0.1in;
    left: 0;
    z-index: -10;
    height: 0.5in;
    width: 8.5in;
    background-size: 8.5in 0.5in;
  }
  .print-page .page-content {
    height: 9.9in;
    width: 7.5in;
    position: relative;
    z-index: 20;
  }
  .print-page .footer-content {
    font-family: 'Andada SC', '-apple-system', sans-serif;
    position: absolute;
    font-variant: small-caps;
    bottom: 0.2in;
    width: 8.5in;
    font-size: 1.5rem;
    color: #aea41a;
    right: 0.2rem;
    text-align: center;
    z-index: -10;
  }
  .print-page .footer-page-number {
    font-family: 'Andada SC', '-apple-system', sans-serif;
    position: absolute;
    bottom: 0.3in;
    width: 5rem;
    font-size: 1.5rem;
    color: #aea41a;
    right: 0.2rem;
    text-align: center;
    z-index: -10;
  }
  .two-column table.sidebar {
    float: none;
    margin-left: 0.1in;
    margin-right: 0.1in;
    width: calc(100% - 0.2in);
  }
  .two-column div.statblock.two-column {
    display: block;
  }
  .statblock {
    width: 3.25in;
  }
  .print-column-break {
    break-after: always;
    display: flex;
    -webkit-column-break-after: always;
    -moz-column-break-after: always;
  }
  .print-float-left {
    float: left;
  }
  .print-float-right {
    float: right;
  }
  .print-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
